{% extends 'dasar.html' %}


{% block body %}
<div class = "container">
    <div class = "jumbotron">
        <h1>Welcome To NoaNote</h1>
        <h2>Halo {{user.get_username}}</h2>
            {% csrf_token %}
        <a id = "btn-login-signup" class = "btn btn-primary" href = "{% url 'notes:create' %}">Make Note</a>
    </div>    
</div>

<div class = "container">
    <h1>Your Note List</h1>
    {% if note_list %}
        {% for note in note_list %}

        <div class = "jumbotron" id = "content-list">  
        <h1>{{note.title}}</h1>
        <h3>{{note.content | safe}}</h3>
        <h7>Last Updated : {{note.date}}</h7>
        </div>
        {% endfor %}
        <a class = "btn btn-primary" href="{% url 'notes:list' %}">See All</a>
    {% else %}
        <h2>You Still doesn't have any Note</h2>
        <a class = "btn btn-primary" href = "{% url 'notes:create' %}">Make Note</a>
    {% endif %}
     
</div>
{% endblock body %}


