{% extends 'dasar.html' %}
{% load static %}


{% block body %}
    <div class = "container">
        
            <h1>Your Note List</h1>
            
            
            
                {% for note in note_list %}
                
                    <div class = "jumbotron">    
                        <h2>{{note.title}}</h2>
                        <h7>Last Updated : {{note.date}}</h7>
                        <br>
                        <a class = "btn btn-warning" href="{% url 'notes:update' pk=note.pk %}">edit</a>
                        <a class = "btn btn-danger" href = "{% url 'notes:delete' pk=note.pk %}">delete</a>
                        <a class = "btn btn-success" href="{{note.id}}">read</a>
                    </div>
                
            {% endfor %}
        
        
    </div>    
    
    
    
{% endblock body %}
    
